[submodule "Sub_Dir/exter_sub"]
	path = Sub_Dir/exter_sub
	url = https://github.com/abhishekpawar-asp/submodule_2.git
[submodule "exter_sub"]
	path = exter_sub
	url = https://github.com/abhishekpawar-asp/submodule_2.git
